@import url('./variables.css');
@import url('./mixins.css');

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  background-color: #303446;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
