:root {
  --font-engine: 'Engine', sans-serif;

  --second-color: #6d85e7;
  --main-color: #303446;
  --text-color-dark: #27292FFF;
  --text-color-white: #fdfdff;
  --text-color-grey: rgb(164, 168, 176);
}
