:root {
  --font-engine: 'Engine', sans-serif;
  --secondary-color: #6d85e7;
  --orange-color: #ffae5d;
  --tertiary-color: #292c3c;
  --main-color: #303446;
  --accent-color: #252836;
  --text-color-dark: #27292FFF;
  --text-color-white: #fdfdff;
  --text-color-grey: rgb(164, 168, 176);
}
