.input{
  border: none;
  box-shadow: 0 0 8px 3px rgba(0,0,0,0.2) inset;
  border-radius: 8px;
  height: 48px;
  width: 254px;
  background-color: var(--main-color);
  color: var(--text-color-grey);
  padding: 0 8px ;
}

.text{
  color: var(--text-color-grey);
  font-family: var(--font-engine);
  font-size: 18px;
}
