.call-page {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.call-page-content-layer {
  position: relative;
  z-index: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.call-layout {
  flex: 1;
  display: flex;
  gap: 16px;
  padding: 16px;

}

.call-page-content{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
