<div class="call-page">
    <tc-background-shader/>
  <div class="call-page-content-layer">
    <tc-header>
      <tc-dropdown-menu-container slot="left" [name]="selectedServer()?.name"/>
      <div slot="right">{{currentUser()?.username}}</div>
    </tc-header>
    <div class="call-layout">
      <tc-server-sidebar
        [servers]="servers()"
        [selectedServer]="selectedServer()"
        (onSelectServer)="onSelectServer($event)"
        (onAddServer)="onAddServer($event)"
      />
      <div class="flex-row call-page-content gap">
        @for (channel of channels(); track channel) {
          <tc-channel [channel]="channel">
            <tc-member memberName="Thomas"/>
          </tc-channel>
        }
        <tc-channel-add-container (onValidate)="onAddChannel($event)"/>
      </div>
    </div>
  </div>
</div>
