.close-button{
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: transparent;
  border: none;
  cursor:pointer;
  width: 24px;
  height: 24px;
  font-weight: bold;
  font-size: 16px;
}

.close-button:hover{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.channel-config {
  width: 250px;
  height: 250px;
  background: var(--secondary-color);
  border-radius: 12px;
  padding: 24px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  animation: configEnter 600ms ease-in-out;
  transform-origin: center center;
}

@keyframes configEnter {
  from {
    transform: scale(0);
    border-radius: 50%;
  }
  to {
    transform: scale(1);
    border-radius: 12px;
  }
}
