.primary {
  border: none;
  background: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  background: rgb(39, 41, 47);
  color: #a6a8ae;
  font-size: 18px;
  font-family: var(--font-engine);
}

.primary:hover {
  background: rgb(164, 168, 176);
  color: #27292FFF
}

