.channel-add{
  width: 250px;
  height: 250px;
  border: solid 2px var(--secondary-color);
  border-radius: 12px;
  padding: 12px;
  position: relative;
  background-color: var(--main-color);
}

.channel-add:hover{
  background-color: var(--main-color);
  cursor: pointer;
}
