.text{
  font-family: var(--font-engine);
  font-weight: bold;
  color: var(--text-color-dark);
  font-size:var(--font-size);
}

.dark{
  color: var(--text-color-dark);
}

.light{
  color: var(--text-color-grey);
}

