.channel-add{
  width: 250px;
  height: 250px;
  border: solid 2px var(--secondary-color);
  border-radius: 12px;
  padding: 12px;
  position: relative;
  background-color: transparent;
}

.channel-add:hover{
  background-color: var(--main-color);
  cursor: pointer;
}

.channel-add:hover > .add {
  transform: scale(0.9);
  clip-path: path("M31 0C33.7614 0 36 2.23858 36 5C36 8.521 33 11.8586 33 15.3796V18.1747C33 21.1289 35.2736 23.5486 37.3625 25.6375C39.4514 27.7264 41.8711 30 44.8253 30H48.6204C52.1414 30 55.479 27 59 27C61.7614 27 64 29.2386 64 32C64 34.7614 61.7614 37 59 37C55.479 37 52.1414 34 48.6204 34H44.825C41.871 34 39.4514 36.2734 37.3624 38.362C35.2734 40.4505 33 42.87 33 45.8239V48.6186C33 52.1401 36 55.4785 36 59C36 61.7614 33.7614 64 31 64C28.2386 64 26 61.7614 26 59C26 55.4785 29 52.1401 29 48.6186V45.8239C29 42.87 26.7266 40.4505 24.6376 38.362C22.5486 36.2734 20.129 34 17.175 34H15.2771C11.8183 34 8.56073 36.9293 5.10268 36.999C5.06853 36.9997 5.03431 37 5 37C2.23858 37 0 34.7614 0 32C0 29.2386 2.23858 27 5 27C5.03431 27 5.06853 27.0003 5.10268 27.001C8.56073 27.0707 11.8183 30 15.2771 30H17.1747C20.1289 30 22.5486 27.7264 24.6375 25.6375C26.7264 23.5486 29 21.1289 29 18.1747V15.3796C29 11.8586 26 8.521 26 5C26 2.23858 28.2386 0 31 0Z");


}

.add{
  clip-path: path("M31 54C33.7614 54 36 56.2386 36 59C36 61.7614 33.7614 64 31 64C28.2386 64 26 61.7614 26 59C26 56.2386 28.2386 54 31 54ZM31 23C35.9706 23 40 27.0294 40 32C40 36.9706 35.9706 41 31 41C26.0294 41 22 36.9706 22 32C22 27.0294 26.0294 23 31 23ZM5 27C7.76142 27 10 29.2386 10 32C10 34.7614 7.76142 37 5 37C2.23858 37 0 34.7614 0 32C0 29.2386 2.23858 27 5 27ZM59 27C61.7614 27 64 29.2386 64 32C64 34.7614 61.7614 37 59 37C56.2386 37 54 34.7614 54 32C54 29.2386 56.2386 27 59 27ZM31 0C33.7614 0 36 2.23858 36 5C36 7.76142 33.7614 10 31 10C28.2386 10 26 7.76142 26 5C26 2.23858 28.2386 0 31 0Z");
  width:64px;
  height:64px;
  background: var(--secondary-color);
  transition: transform 0.1s ease-in-out, clip-path 1s ease-in-out;

}

